<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title translate>
      ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" translate>ranking</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col><strong translate>position_ranking</strong></ion-col>
            <ion-col size="6">
              <h2><strong translate>team</strong></h2>
            </ion-col>
            <ion-col></ion-col>
            <ion-col><strong translate>points_ranking</strong></ion-col>
            <ion-col><strong translate>wins_ranking</strong></ion-col>
            <ion-col><strong translate>draws_ranking</strong></ion-col>
            <ion-col><strong translate>loses_ranking</strong></ion-col>
            <ion-col><strong translate>goals_for_ranking</strong></ion-col>
            <ion-col><strong translate>goals_against_ranking</strong></ion-col>
            <ion-col><strong translate>faults_ranking</strong></ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <app-team-ranking *ngFor="let eq of equipos; let i = index" [position]="getPosition(i)" [equipo]="eq"></app-team-ranking>
  </ion-list>
</ion-content>