<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title translate>
      round
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" translate>round</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 class="page-heading"><span translate>round</span> {{getRoundNumber()}}</h1>
  <ion-button size="large" color="primary" expand="block" (click)="click_advanced_round()" [disabled]="advance_round_disabled()" translate>advance_round</ion-button>
  <app-match-happening *ngFor="let enf of enfrentamientos" [enfrentamiento]="enf" (clickedSaveDataEvent)="updateStorageEnfrentamientosData($event)"></app-match-happening>
</ion-content>