<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title translate>
      options
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <span translate>reset</span>
    </ion-label>
    <ion-select interface="action-sheet" (ionChange)="select_delete_pressed()">
      <ion-select-option value="delete" translate>delete</ion-select-option>
    </ion-select>
    <ion-icon name="trash-outline"></ion-icon>
  </ion-item>
</ion-content>