<ion-header>
  <ion-toolbar>
    <ion-title translate>
      enfrentamientos
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isTeamLoaded">
    <h1 class="page-heading">{{getTeamName()}}</h1>
    <ion-list>
      <app-match-happened *ngFor="let enf of equipo.enfrentamientos" [enfrentamiento]="enf"
        [indice]="indiceDe(enf, equipo.enfrentamientos)"></app-match-happened>
    </ion-list>
  </div>
</ion-content>