<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title translate>
      new_tournament
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button size="large" color="primary" expand="block" (click)="click_start_tournament()" [disabled]="start_tournament_disabled()" translate>start_tournament</ion-button>
  <div *ngFor="let enf of enfrentamientos">
    <app-match-created [enfrentamiento]="enf" (deletedEvent)="delete_match($event)"></app-match-created>
  </div>
  <app-match-creating (createdEvent)="new_match($event)"></app-match-creating>
</ion-content>
